.container-info {
  display: flex;
  align-items: center;
  padding: 80px;
  background-color: #fff;
}

.content-info {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  font-size: 20px;
}

.image-info {
  width: 300px;
}

.info-dec {
  color: gray;
}

.info-con {
  width: 70%;
}

.info-price {
  font-size: 20px;
  font-weight: bold;
}

.info-add {
  width: 30%;
  background-color: #2da5ff;
  color: #eee;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border: 0;
  padding: 2px;
  font-size: 20px;
  cursor: pointer;
}
.filterImg {
  cursor: pointer;
}
.filterImg img {
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 768px) {
  .container-info {
    display: flex;
    flex-direction: column;
  }
  .info-con {
    width: 100%;
  }

  .info-add{
    width: 100%;
  }
}
